*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ///////////..utility classes../////////// */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

#showcase{
    height: 500px;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}

.btn-primary {
    color: #fff;
    background: black;
}

.btn-primary:hover {
    background: #117964;
    transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 12;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
}

.logo {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
}

/* ............//// Showcase styling ////......... */

.showcase-area {
    height: 50vh;
    background: linear-gradient(rgba(240, 240, 240, 0.144),
            rgba(255, 255, 255, 0.336)),
        url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?w=500&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fHw%3D");
        background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    row-gap: 20px;
}

.main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
    font-size: 4rem;
    color: chocolate;
}

.showcase-container p{
    color: white;
}
/* ..........////Food category///........... */

#food-menu{
    background-color: whitesmoke;
    padding-top: 30px;
}

#food {
    padding: 5rem 0 10rem 0;
}

#food h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

.food-container {
    display: flex;
    justify-content: space-between;
}

.food-container img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
    position: relative;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
    color: #fff;
    font-size: 2.2rem;
}

.img-content a {
    font-size: 1.2rem;
}

.img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content {
    opacity: 1;
    top: 40%;
}

/* .........../Food Menu/............ */

.food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    color: black;
    font-weight: 700;
}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}

.food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description {
    margin: auto 1.5rem;
}

.font-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #444;
}

.food-description p {
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
}

.food-description .food-price {
    color: #117964;
    font-weight: 700;
}

/* ........./ Testimonial /.......... */

#testimonials {
    padding: 5rem 0;
    background-color: white;
}

.testimonial-title {
    text-align: center;
    font-size: 2.8rem;
    color: black;
    font-weight: 700;
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    column-gap: 20px;
}
.testimonial-box .testimonial-text {
    margin: 1rem 0;
    color: #444;
}

.testimonial-box {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.customer-photo img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}

.customer-photo p {
    padding-top: 20px;
}

/* ........ Contact Us........... */

#contact {
    padding: 5rem 0;
    background: rgb(226, 226, 226);
}

.contact-container {
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.contact-img {
    width: 50%;
}

.contact-img img {
    display: block;
    height: 420px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input {
    display: block;
    width: 100%;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    background: whitesmoke;
    padding-left: 20px;
    border: 1px solid;
    border-radius: 10px;
}

.form-container textarea {
    display: block;
    width: 100%;
    border: none;
    display: block;
    width: 100%;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    background: whitesmoke;
    padding-left: 20px;
    border: 1px solid;
    border-radius: 10px;
    color: #444;
    outline: none;
    resize: none;
}

.form-container h2 {
    font-size: 2.7rem;
    color: black;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
}

.form-container a {
    font-size: 1.3rem;
}

#footer h2 {
    text-align: center;
    font-size: 1.8rem;
    padding: 0.6rem;
    font-weight: 500;
    color: black;
    background: white;
}
